body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

[class^="col-"] {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* =============== A- sidebar =============== */

#sidebar {
  height: 100px;
}

#sidebar_container {
  padding-top: 15px;
  padding-left: 10px;
  margin: 0 10px;
}

#menu {
  float: left;
}

#user {
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#sidebar_content {
  display: none;
  margin-top: 20px;
  font-size: 18px;
  line-height: 230%;
}

#sidebar_content p {
  font-size: 14px;
  color: #7b7878;
}

#sidebar_content a {
  text-decoration: none;
  color: black;
}

#sidebar_content a:hover,
#sidebar_content a:active {
  color: #009688;
}

#side_nav a {
  display: block;
  font-size: 14px;
}

#side_nav i {
  display: inline-block;
  margin-right: 20px;
}

#icon {
  font-size: 16px;
  margin-left: -5px;
}

/* =============== B1- portfolio =============== */
#portfolio {
  height: 150px;
  border-bottom: 1px solid rgb(100, 105, 86);
  margin: 0 5px 5px 5px;
  padding-top: 5px;
}

/* =============== B2- album =============== */
#album {
  text-align: center;
}

.album_container {
  margin: 5px 5px 5px 5px;
  height: 300px;
  background-color: #fff;
}

#pagination {
  height: 50px;
  margin: 10px 5px 5px 5px;
  padding-top: 15px;
  clear: left;
}

/* =============== B3- about me =============== */
#about {
  height: 150px;
  border-bottom: 1px solid rgb(100, 105, 86);
  margin: 0 5px 5px 5px;
  padding-top: 5px;
}

/* =============== B4- technical skills =============== */
#skills {
  padding-top: 5px;
  border-bottom: 1px solid rgb(100, 105, 86);
  margin: 0 5px 5px 5px;
}

#skills h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.progress_bar {
  height: 40px;
  background-color: #9d9d9d;
  margin-top: 15px;
  margin-bottom: 15px;
}

#progress1 {
  height: 40px;
  width: 95%;
  background-color: #616161;
}

#progress2 {
  height: 40px;
  width: 85%;
  background-color: #616161;
}

#progress3 {
  height: 40px;
  width: 80%;
  background-color: #616161;
}

/* =============== B5- charge =============== */
#charge {
  margin: 0 5px 5px 5px;
}

#charge h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.charge_container {
  height: 250px;
  margin: 0 5px 5px 0;
  text-align: center;
  background-color: #fff;
}

/* =============== C- footer =============== */
footer {
  clear: left;
}

/* =============== C1- contact me =============== */
#contact {
  background-color: #9e9e9e;
}

#contact_container {
  margin: 15px 5px 0 5px;
  padding: 0 5px 30px 5px;
  border-bottom: 1px solid black;
}

#contact_container h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact_item {
  height: 40px;
  background-color: #616161;
  text-align: center;
  color: white;
}

#location {
  background-color: #009688;
}

/* =============== C2- snd message =============== */
#send_message {
  clear: left;
  height: 50px;
  background-color: #9e9e9e;
  padding-top: 10px;
  padding-left: 10px;
}

#send_message #bottom {
  height: 25px;
  width: 150px;
  color: white;
  text-align: center;
  background-color: black;
}

/* =============== C3- details =============== */
#details {
  background-color: #616161;
  padding-top: 20px;
  padding-bottom: 5px;
}

.details_container {
  margin: 0 5px 5px 5px;
  padding-left: 10px;
  height: 80px;
  color: white;
}

/* =============== C4- power =============== */
#power {
  background-color: black;
  color: white;
  text-align: center;
  height: 25px;
}

/* ------------------ responsive ------------------ */

@media screen and (min-width: 720px) {
  /* =============== sidebar =============== */
  #sidebar {
    height: 550px;
  }

  #sidebar_container {
    background-color: #fff;
    height: 100%;
    margin-left: 0;
  }

  #sidebar_content {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
  }

  #menu {
    display: none;
  }

  #user {
    float: none;
    border-radius: 3px;
    padding-left: 10px;
    width: 120px;
    height: 120px;
  }

  /* =============== paggination =============== */
  #pagination {
    margin-top: 25px;
  }

  /* =============== footer =============== */
  footer {
    float: right;
    width: 75%;
  }
}
